<launch>
    <env name="LRS_LOG_LEVEL" value="ERROR"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="align_depth" value="true"/>
      <arg name="enable_pointcloud" value="false"/>
      <arg name="enable_sync" value="false"/>
      <arg name="camera" value="camera"/>

      <arg name="color_width"  value="1280"/>
      <arg name="color_height" value="720"/>
      <arg name="color_fps"    value="30"/>
      <arg name="depth_width"  value="1280"/>
      <arg name="depth_height" value="720"/>
      <arg name="depth_fps"    value="30"/>

      <arg name="initial_reset" value="false"/>
    </include>

    <!-- 手动振镜校准节点 -->
    <node pkg="laser_weeding" type="galvo_calibrator_depth.py" name="manual_galvo_calibration_node" output="screen">
        <param name="serial_port" value="/dev/ttyACM0" />
        <param name="serial_baudrate" value="115200" />
        <param name="galvo_index" value="1" />

        <param name="use_3d_transform" value="true" />
        <param name="transform_config_file" value="$(find laser_weeding)/cam_params.yaml" />
        <param name="calibration_result_file" value="$(find laser_weeding)/manual_galvo_calibration.yaml" />

        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="image_topic" value="/camera/color/image_raw" />
    </node>
</launch>